<mat-toolbar color="primary">
  <div fxLayout="row" fxFlex>
    <div>
      <button mat-mini-fab (click)="showPreviousPage()" [disabled]="!hasPreviousPage">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
    </div>
    <div fxFlex></div>
    <div>
        <button mat-mini-fab (click)="showNextPage()" [disabled]="!hasNextPage">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </div>
</mat-toolbar>
<div *ngIf="blocks" class="results-contents">
  <app-block *ngFor="let block of blocks" [block]="block"></app-block>
</div>
