<div fxLayout="row" class="wrapper">
  <div fxFlex="250px" class="controls-column">
    <mat-select placeholder="Select Database" [value]="selectedDatabase" (change)="onDbChanged($event)">
        <mat-option *ngFor="let db of databases" [value]="db">{{db}}</mat-option>
    </mat-select>
  </div>
  <div fxFlex class="results-column">
    <mat-toolbar color="primary">
      <div fxLayout="row" fxFlex>
        <div>
          <button mat-mini-fab (click)="showPreviousPage()" [disabled]="!hasPreviousPage">
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>
        </div>
        <div fxFlex></div>
        <div>
            <button mat-mini-fab (click)="showNextPage()" [disabled]="!hasNextPage">
              <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
          </div>
        </div>
    </mat-toolbar>
    <div *ngIf="blocks" class="results-contents">
      <mat-card *ngFor="let block of blocks">
          <mat-card-header>
            <mat-card-title>
              <div fxLayout="row" class="block-row">
                <div fxFlex="150px">index</div>
                <div class="block-value" fxFlex>{{block.index}}</div>
              </div>
              <div fxLayout="row" class="block-row">
                <div fxFlex="150px">Block Hash</div>
                <div class="block-value" fxFlex>
                  <a (click)="showBlockByPreviousHash(block.hash)">{{block.hash}}</a>
                </div>
              </div>
              <div fxLayout="row" class="block-row">
                <div fxFlex="150px">Previous Block Hash</div>
                <div class="block-value" fxFlex>{{block.contents.previousBlockHash}}</div>
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="block-transaction" *ngFor="let transaction of block.contents.transactions">
              <div *ngIf="transaction">
                <div fxLayout="row" class="block-row">
                    <div fxFlex="150px">Transaction Type</div>
                    <div fxFlex>{{transaction.transactionType.value}}</div>
                </div>
                <div fxLayout="row" class="block-row">
                  <div fxFlex="150px">Transaction Payload</div>
                  <div fxFlex>{{transaction.payload | json}}</div>
                </div>
              </div>
              <div *ngIf="!transaction" class="block-row">
                NULL Transaction
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
  </div>
</div>

{{blocks}}
