@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html,
body {
    margin: 24px;
    padding: 0;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.mat-card {
  margin-top: 24px;
}
